<h1 mat-dialog-title>
  {{ (this.data.exists) ? 'EDITING' : 'ADDING' }}
</h1>
<div mat-dialog-content class="example-full-width" style="height: 85%">
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input name="title" matInput required [(ngModel)]="this.data.news.title" [formControl]="titleControl" >
      <mat-error *ngIf="titleControl.invalid">Invalid field!</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea name="description" style="height: 160px" matInput [(ngModel)]="this.data.news.description" [formControl]="descriptionControl">{{this.data.news.description}}</textarea>
    </mat-form-field>
  </form>
  <div mat-dialog-actions class="example-full-width">
    <button mat-raised-button color="accent" (click)="onCancel()">CANCEL</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="this.data.news" cdkFocusInitial>SAVE</button>
  </div>
</div>
