<mat-toolbar class="app-toolbar" color="primary">
  <a style="margin-top: 5px" href="/news">
    <img width="70" src="assets/images/news.webp"/>
  </a>
  <span style="margin-left: 8px">Welcome</span>
  <span class="spacer"></span>

  <a *ngIf="!authService.loggedIn()" href="/login" style="margin-right: 8px; " mat-raised-button  color="accent" >Admin</a>

  <button
    style="color: aliceblue"
    *ngIf="authService.loggedIn()"
    mat-button
    color="accent"
    [matMenuTriggerFor]="menu">
    {{authService.getUser()}}
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="/dashboard">Dashboard</a>
    <a *ngIf="this.authService.userIsAdministrator()" mat-menu-item href="/register">New Admin</a>
    <a mat-menu-item (click)="logout()">Logout</a>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>


