.search-form {
  margin-left: 20px;
  margin-right: 20px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

mat-dialog-content {
  margin: 2px;
}
